
.select-color-wrapper {

}

.select-color-label {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 10px 0;
    font-weight: normal;
    color: #000;
}

.select-color-list {
    display: flex;
}

.select-color-item {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 3px solid #d7d5d5;
    cursor: pointer;
}

.select-color-item:hover,
.select-color-item.active {
    border: 3px solid #0ca9f4;
}